  <h2>Trade Entry :<%= @trade.entry %></h2>
  <h2>Trade Exit :<%= @trade.exit %> </h2>
  <h2>Trade Profit/Loss :<%= @trade.profit_loss %> </h2><br />
  <a href="/trade/<%=@trade.id%>/edit">Edit</a>
  <br />
  <br />