<h1><%= @position.id %>: <%= @position.instrument %> - <%= @position.status %></h1>

<li> still have to fill this in once I set up trades <li>

<!--   <a href ='/trade/new'>click here to add a trade </a> <br>
  <a href ='/position/<%-@position.id%>/edit'>click here to edit position </a> -->
